<!-- <h2>Mon premier composant</h2> -->
<!-- <app-button></app-button>
<app-users></app-users>
<app-alert-button></app-alert-button>
<app-liste></app-liste>
<app-magic></app-magic>
<app-liste-filtrer></app-liste-filtrer> -->
<!-- <app-boutton-menu></app-boutton-menu> -->
<!-- <app-timezone-enfant></app-timezone-enfant> -->
<!-- <app-liste-course></app-liste-course> -->
<!-- <app-reactiv-list-course></app-reactiv-list-course> -->
<app-form-builder-list></app-form-builder-list>
<router-outlet></router-outlet>